@media (max-width: 412px), (max-height: 915px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .block-1 {
        width: 250px;
        height: 290px; 
        background-color: rgb(226,133,37);
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: rgb(255,215,170);
      }
      .block-2 {
        width: 250px;
        height: 290px; 
        background-color: rgb(1,104,114);
        color: rgb(109,187,191);
      }
      .block-3 {
        width: 250px;
        height: 290px; 
        background-color: rgb(0,64,63);
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: rgb(144,190,190);
      }
      .block-1 img {
        width: 35px;
        height: 20px;
        padding: 30px;
      }
      .block-2 img {
        width: 35px;
        height: 20px;
        padding: 30px;
      }
      .block-3 img {
        width: 35px;
        height: 20px;
        padding: 30px;
      }
      .title {
        font-family: 'big shoulders display';
        font-size: 25px;
        color: white;
        margin: -20px 0 0 30px;
      }
      .subtitle {
        font-family: 'lexend deca';
        padding: 30px;
        margin-top: -25px;
        font-size: 12px;
        line-height: 25px;
      }
     #button-1 {
      color: rgb(226,133,37);
      background-color: white;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      padding: 5px;
      width: 100px;
      font-family: 'lexend deca';
      margin: -30px 0 0 25px;
      cursor: pointer;
      border: 3px solid white;
     }
     #button-2 {
      color: rgb(1,104,114);
      background-color: white;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      padding: 5px;
      width: 100px;
      font-family: 'lexend deca';
      margin: -30px 0 0 25px;
      cursor: pointer;
      border: 3px solid white;
     }
     #button-3 {
      color: rgb(0,64,63);
      background-color: white;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      padding: 5px;
      width: 100px;
      font-family: 'lexend deca';
      margin: -30px 0 0 25px;
      cursor: pointer;
      border: 3px solid white;
     }
     #button-1:hover {
      color: white;
      background-color: rgb(226,133,37);
     }
     #button-2:hover {
      color: white;
      background-color: rgb(1,104,114);
     }
     #button-3:hover {
      color: white;
      background-color: rgb(0,64,63);
     }     
}